@font-face {
  font-family: 'Conv_Questrial-Regular';
  src: url('../fonts/Questrial/Questrial-Regular/fonts/Questrial-Regular.eot');
  src: url('../fonts/Questrial/Questrial-Regular/fonts/Questrial-Regular.woff') format('woff'), url('../fonts/Questrial/Questrial-Regular/fonts/Questrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
