@font-face {
  font-family: 'Conv_Questrial-Regular';
  src: url('../fonts/Questrial/Questrial-Regular/fonts/Questrial-Regular.eot');
  src: url('../fonts/Questrial/Questrial-Regular/fonts/Questrial-Regular.woff') format('woff'), url('../fonts/Questrial/Questrial-Regular/fonts/Questrial-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Conv_Questrial-Regular';
}
.section-1 {
  height: 100%;
  background-color: black;
  padding-bottom: 85px;
}
.section-1 .logo-head-1 {
  padding-top: 20px;
}
.section-1 .logo-head-1 .logo {
  height: 50px;
  width: 200px;
}
.section-1 .logo-head-2 {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}
.section-1 .logo-head-2 .nav {
  height: 50px;
  width: 50px;
}
.section-1 .title {
  text-transform: uppercase;
  transform: rotate(-8deg);
  font-size: 150px;
  color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  padding-top: 40px;
}
.section-1 .description {
  font-size: 30px;
  margin-bottom: 30px;
  color: white;
}
.section-1 .description .desc-1 {
  display: flex;
  justify-content: center;
}
.section-1 .description .desc-2 {
  display: flex;
  justify-content: center;
}
.section-1 .bottone-section {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.section-1 .bottone-section .bottone {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 20px 70px;
  border-radius: 40px;
}
.section-1 .bottone-section .bottone:hover {
  background-color: white;
  color: black;
  transition: all 0.5s ease;
}
.section-2 {
  position: relative;
  padding-bottom: 110px;
  background-color: #FA6432;
}
.section-2 .background-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FA6432;
}
.section-2 .background-section:after {
  content: '';
  position: absolute;
  top: -6vw;
  left: 0;
  width: 100%;
  transform: skewY(6deg);
  height: 12vw;
  background-color: #FA6432;
}
.section-2 .title-section-2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 60px;
  padding-bottom: 90px;
  color: white;
}
.section-2 .icon-cell-section-2 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.section-2 .description-cell-section-2 {
  font-size: 23px;
  color: white;
  padding-bottom: 60px;
}
.section-2 .description-cell-section-2 .row-1 {
  display: flex;
  justify-content: center;
}
.section-2 .description-cell-section-2 .row-2 {
  display: flex;
  justify-content: center;
}
.section-2 .description-cell-section-2 .row-3 {
  display: flex;
  justify-content: center;
}
.section-3 {
  background-size: cover;
  padding-bottom: 175px ;
  background-color: #232D9B;
  position: relative;
}
.section-3 .background-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232D9B;
}
.section-3 .background-section:after {
  content: '';
  position: absolute;
  top: -6vw;
  left: 0;
  width: 100%;
  transform: skewY(-6deg);
  height: 12vw;
  background-color: #232D9B;
}
.section-3 .title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}
.section-3 .title .section-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #FA6432;
  font-weight: lighter;
  padding-bottom: 40px;
}
.section-3 .line-bottom {
  height: 2px;
  width: 85%;
  background: #FA6432;
  margin: 15px auto;
}
.section-3 .main-menu {
  margin-top: 20px;
  cursor: pointer;
  flex-direction: column;
  display: flex;
  align-items: center;
  color: #FA6432;
  font-weight: lighter;
}
.section-3 .main-menu .main-menu-icon {
  border: 1.5px solid #FA6432;
  width: 70px;
  height: 70px;
  transform: rotate(45deg);
  transition: 0.3s linear;
}
.section-3 .main-menu .main-menu-icon i {
  margin: 24px 19px;
  font-size: 16px;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3 .main-menu .main-menu-title {
  text-transform: uppercase;
  color: white;
  margin-top: 40px;
  padding-bottom: 20px;
}
.section-3 .main-menu .main-menu-description {
  color: white;
  padding-bottom: 40px;
  font-size: 14px;
}
.section-3 .main-menu-icon:hover {
  background: #FA6432;
  color: white;
}
.section-4 {
  background-color: black;
  position: relative;
  padding-bottom: 180px;
}
.section-4 .background-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20;
  background-color: black;
}
.section-4 .background-section:after {
  content: '';
  position: absolute;
  top: -6vw;
  left: 0;
  width: 100%;
  transform: skewY(6deg);
  height: 12vw;
  background-color: black;
}
.section-4 .title-section-4 {
  margin-top: 70px;
  font-size: 140px;
  transform: rotate(-8deg);
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 85px;
}
.section-4 .main-cell-section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.section-4 .main-cell-section-4 .top-title-main-cell-section-4 {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  font-size: 30px;
}
.section-4 .main-cell-section-4 .middle-title-main-cell-section-4 {
  font-size: 20px;
  padding-bottom: 30px;
}
.section-4 .main-cell-section-4 .middle-title-main-cell-section-4 .row-1-middle-title-main-cell-section-4 {
  display: flex;
  justify-content: center;
}
.section-4 .main-cell-section-4 .middle-title-main-cell-section-4 .row-2-middle-title-main-cell-section-4 {
  display: flex;
  justify-content: center;
}
.section-4 .main-cell-section-4 .bottom-title-main-cell-section-4 {
  padding-bottom: 40px;
}
.section-4 .main-cell-section-4 .bottom-title-main-cell-section-4 .click-bottom-title-main-cell-section-4 {
  padding-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  position: relative;
}
.section-4 .main-cell-section-4 .bottom-title-main-cell-section-4 .click-bottom-title-main-cell-section-4:before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  right: 0;
  background: white;
  transition: all 0.3s ease-in-out;
}
.section-4 .main-cell-section-4 .bottom-title-main-cell-section-4 .click-bottom-title-main-cell-section-4:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 2px;
  background: white;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.section-4 .bottom-foot-section-4 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  z-index: 1;
}
.section-4 .bottom-foot-section-4 .click-bottom-foot-section {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  padding: 20px 70px;
  border-radius: 40px;
}
.section-4 .bottom-foot-section-4 .click-bottom-foot-section:hover {
  background-color: white;
  color: black;
  transition: all 0.5s ease;
}
.section-5 {
  background-color: black;
  position: relative;
}
.section-5 .background-section {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 20;
  background-color: black ;
}
.section-5 .background-section:after {
  content: '';
  position: absolute;
  top: -6vw;
  left: 0;
  width: 100%;
  transform: skewY(6deg);
  height: 12vw;
  background-color: black;
  border-top: 2px solid white;
}
.section-5 .connect-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.section-5 .connect-section .group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}
.section-5 .connect-section input {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: black;
  color: white;
}
.section-5 .connect-section input:focus {
  outline: none;
}
.section-5 .connect-section label {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.section-5 .connect-section input:focus ~ label,
.section-5 .connect-section input:valid ~ label {
  top: -15px;
  font-size: 14px;
}
.section-5 .connect-section .bar {
  position: relative;
  display: block;
  width: 100%;
}
.section-5 .connect-section .bar:before,
.section-5 .connect-section .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: white;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  border-radius: 5px;
}
.section-5 .connect-section .bar:before {
  left: 50%;
}
.section-5 .connect-section .bar:after {
  right: 50%;
}
.section-5 .connect-section input:focus ~ .bar:before,
.section-5 .connect-section input:focus ~ .bar:after {
  width: 50%;
}
.section-5 .connect-section .title-connect-section {
  color: white;
  padding-top: 60px;
  font-size: 30px;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.section-5 .connect-section .form-connect-section {
  width: 40%;
  border-bottom: 2px solid white;
  background-color: black;
  height: 50px;
  outline: 0px;
  color: white;
}
.section-5 .connect-section .form-connect-section:focus {
  width: 45%;
  color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 2px white;
}
.section-5 .connect-section .bottom-connect-section {
  margin-top: 40px;
  text-decoration: none;
  color: white;
  padding-bottom: 30px;
  font-size: 30px;
  border: 2px solid white;
  padding: 10px 70px;
  border-radius: 40px;
}
.section-5 .connect-section .bottom-connect-section:hover {
  background-color: white;
  color: black;
  transition: all 0.5s ease;
}
.section-5 .cell-section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
}
.section-5 .cell-section-5 .item-cell-section-5 {
  font-size: 17px;
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.section-5 .cell-section-5 .item-cell-section-5:hover {
  color: #7A7A7A;
}
.section-5 .cell-2-section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  margin-top: 20px;
}
.section-5 .cell-2-section-5 .item-cell-section-5 {
  font-size: 17px;
  color: white;
  padding-bottom: 10px;
  text-decoration: none;
  transition: all 0.5s ease;
}
.section-5 .cell-2-section-5 .item-cell-section-5:hover {
  color: #7A7A7A;
}
.section-5 .footer-section-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 11px;
}
.section-5 .footer-section-5 .title-footer-section-5 {
  padding-bottom: 10px;
}
